<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anekdote Auth</title>
    <!-- Use Pico.css for an instant, clean, dark-mode ready UI -->
    <link rel="stylesheet" href="/static/pico.min.css">
    <style>
        main {
            max-width: 400px;
            margin-top: 5rem;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <main class="container">
        <article>
            <h2 class="text-center">Sign In</h2>
            <form method="POST" action="/login">
                {{ if .Req }}
                <input type="hidden" name="req" value="{{ .Req }}">
                {{ end }}

                <label for="email">Email address</label>
                <input type="email" id="email" name="email" placeholder="Email address" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <button type="submit" class="contrast">Login</button>

                <p class="text-center"><small><a href="/register">Create an account</a> | <a
                            href="/forgot-password">Forgot password?</a></small></p>
            </form>
        </article>
    </main>
</body>

</html>